<div class="dj-banner">
  <div class="dj-bg">
    <img src="/images/img-principal.png" alt="" height="400px" />
    <div class="dj-text">
      <h1><b>Editar equipo</b></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <input
              type="text"
              name="nombre"
              placeholder="Nombre del equipo"
              class="form-control form-control-lg"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
