<button class="btn btn-info" (click)="login()">Volver al inicio</button>
<div class="container mt-5">
  <h1><b>Consulta de equipos</b></h1>
  <form [formGroup]="consultaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Consulte por el ID del equipo</label>
      <input type="number" formControlName="id" class="form-control" />
    </div>
    <br />
    Consulte por fechas
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="fechaInicio">Fecha de Inicio</label>
          <input
            type="text"
            formControlName="fechaInicio"
            class="form-control"
            placeholder="dd/mm/aaaa"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="fechaFin">Fecha de Fin</label>
          <input
            type="text"
            formControlName="fechaFin"
            class="form-control"
            placeholder="dd/mm/aaaa"
          />
        </div>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Consultar</button>
    <button type="reset" class="btn btn-warning">Limpiar formulario</button>
  </form>
</div>
<br />
<div class="container mt-5">
  <div *ngIf="resultadoConsulta">
    <h2>Resultado de la consulta:</h2>
    <pre>{{ resultadoConsulta | json }}</pre>
    <button
      type="button"
      class="btn btn-secondary ml-2"
      (click)="limpiarConsulta()"
    >
      Limpiar consulta
    </button>
  </div>
</div>
