<div class="container mt-5">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input
        type="text"
        id="usuario"
        class="form-control"
        formControlName="usuario"
        placeholder="Digite su usuario"
      />
    </div>
    <div class="form-group">
      <label for="contrasena">Contraseña</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        placeholder="Digite su contraseña"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </form>
</div>
<div class="container mt-2">
  ¿Desea consultar los equipos?
  <button type="button" class="btn btn-secondary" (click)="consultarEquipo()">
    Consultar equipos
  </button>
</div>
